{% extends 'accounts/main.html' %}
{% block content %}
<div id="wrapper">
    <header>
        <h2>Open Source-Games</h2>
    </header>
    {% include 'accounts/navbar.html' %}
    
    <div class="comment-wrapper">
        <div class="card">
            <form method="POST">
                {% csrf_token%}
                
                <h1>Naujas Komentaras</h1>
                
                <div class="row" >
                    <div>
                        {{form.body}}
                    </div>
                </div> 
                
                <div class="row">
                    <input type="submit" value="Pateikti">
                </div>
                <div style="display: none;">
                    {{form.userid}}
                    {{form.newsid}}
                </div>
                <br>
                
            </form>
        </div>
    </div>
    <footer>
        <address>2021 &copy;Dominykas Pleteras</address>
    </footer>
</div>
{%endblock%}