{% extends 'accounts/main.html' %}

{% block content %}
{% load static %}
{% include 'accounts/navbar.html' %}
<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
    <form id="algin-form">
        {% csrf_token%}
        <div class="form-group">
            <h4>Naujas Komentaras</h4> 
            
            {{form.body}}
        </div>
        <div class="row">
            <input type="submit" value="Pateikti">
        </div>
        <div style="display: none;">
            {{form.userid}}
            {{form.newsid}}
        </div>
        
    </form>
</div>
{%endblock%}