{% extends 'accounts/main.html' %}
{% load static%}
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static '/css/forum.css' %}" />

{% endblock %}
{% block content %}
{% include 'accounts/navbar.html' %}

<section class="py-2 text-center container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Forumas</h1>
        </div>
    </div>
</section>
<!-- Nav tabs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'uploadTopic' %}">Įkelti diskusiją!</a>
                </li>
                {% else %}

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid mt-100">


    <div class="card mb-3">
        <div class="card-header pl-0 pr-0">
            <div class="row no-gutters w-100 align-items-center">
                <div class="col ml-3">Diskusijos Pavadinimas</div>
                <div class="col-4 text-muted">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">Atsakymų skaičius</div>
                        <div class="col-8">Autorius</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body py-3">
            {% for i in topics%}
            <div class="row no-gutters align-items-center">
                <div class="col"> <a href="{% url 'topicPage' i.id %}" class="text-big"
                        data-abc="true">{{i.topicName}}</a>


                </div>
                <div class="d-none d-md-block col-4">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">{{i.replies}}</div>
                        <div class="media col-8 align-items-center"> <img src="{%static '/Images/user-icon.png' %}"
                                alt="" class="d-block ui-w-30 rounded-circle">
                            <div class="media-body flex-truncate ml-2">
                                <div class="line-height-1 text-truncate">{{i.user_id}}<a href="javascript:void(0)"
                                        class="text-muted small text-truncate" data-abc="true"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0">
            {%endfor%}

        </div>
    </div>

    {% endblock %}