{% extends 'accounts/main.html' %}
{% load static%}
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static '/css/forumpage.css' %}" />

{% endblock %}
{% block content %}
{% include 'accounts/navbar.html' %}

<script>
    $(document).ready(function () {
        $('.sendamessage').click(function (e) {
            var topicid = $(this).attr("data-value")
            var message = $('textarea#message').val();
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "commentTopic" %}',
                data: {
                    message: message,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
                    topicid: topicid,
                    action: 'messagePost',
                },
                success: function (json) {

                },
                error: function (xhr, errmsg, err) { }
            });
        });
    });
</script>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center"> <img src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3"> <a href="javascript:void(0)" data-abc="true">{{topicPage.user_id}}</a>
                            <div class="text-muted small">{{topicPage.date_added}}</div>
                        </div>
                        <div class="text-muted small ml-3">
                            <br>
                            <h4><strong>{{topicPage.topicName}}</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <br>
                    <p>{{topicPage.topicDescription}}</p>
                </div>
                
            </div>
        </div>
    </div> 
</div>


<div class="container">
    {% for i in comment%}
    {% if i.topic_id.id == topicPage.id%}
    <div class="card mb-2">
        <div class="card-body p-2 p-sm-3">
            <div class="media forum-item">
                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                <div class="media-body">
                    <h6><a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body">{{i.user_id}}</a></h6>
                    <p class="text-secondary">
                        {{i.comment_body}}
                    </p>
                    <p class="text-muted"><a href="javascript:void(0)">{{i.user_id}}</a> atsake <span class="text-secondary font-weight-bold">{{i.date_added}}</span></p>
                </div>
                <div class="text-muted small text-center align-self-center">
                    <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i></span>
                    <span><i class="far fa-comment ml-2"></i></span>
                </div>
            </div>
        </div>
    </div>
  
    {%endif%}
    {% endfor %}
    <div class="card mb-2">

    </div>
    <div class="row">
        <div class="comment-box add-comment mt-3">
            {% if request.user.is_authenticated %}
            <form id="algin-form" name="myForm" method="POST" action="">
                {% csrf_token %}
                <div class="form-group text-center">
                    <textarea placeholder="Pateikite komentarą..." id="message" name="message" rows="6"
                        cols="179"></textarea>
                    <br>
                </div>
                <div class="row text-center justify-content-center">
                    <input type="button" data-value="{{topicPage.id}}" class="sendamessage w-75"
                        onClick="document.myForm.submit()" value="Pateikti komentarą" id="send_message"
                        name="send_message">
                </div>
            </form>
            {%endif%}
        </div>
    </div>
</div>

 
{%endblock%}
