{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/navbar.html' %}
<section class="py-2 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Žaidimai</h1>
            <p class="text-muted">Svetainės vartotojų žaidimai</p>
        </div>
        
    </div>
    
</section>

<div class="album py-5 bg-light">
    {% if request.user.is_staff %}
    <button type="button" class="btn btn-secondary" value="Įkelti žaidima">
        <a style="color: black; text-decoration: none;" href="{% url 'uploadGame' %}">Ikelti žaidimą!</a>
    </button>
    {% endif %}
    <div class="container">
        {% for i in userGame%}
        <a href={% url 'gamesPage' i.id %}>
            <div class="card mb-3">
                <img class="card-img-top" src="{{i.image.url}}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i.gameName}}</h5>
                    <p class="card-text">{{i.gameDescription}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </a>
        {% endfor%}

    </div>
</div>


{% endblock %}