{% extends 'accounts/main.html' %}
{% block content %}
{% load crispy_forms_tags%}

{% include 'accounts/navbar.html' %}
<main>
    <section class="py-2 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Free-to-play žaidimai</h1>
                <p class="text-muted">Įvairiu žanrų nemokami žaidimai</p>
            </div>

        </div>

    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for i in response %}
                <a href={{i.game_url}} class="nounderline">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="{{i.thumbnail}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{i.title}}</p>
                            <p class="card-text">{{i.short_description}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Žanras: {{i.genre}} </small>
                                <small class="text-muted">Platforma: {{i.platform}} </small>
                                <small class="text-muted">Žaidimas išleistas: {{i.release_date}} </small>

                                
                            </div>
                        </div>
                    </div>
                </div>
                </a>
                {%endfor%} 
            </div 
        </div>
    </div>

</main>

{% endblock %}