{% extends 'accounts/main.html' %}
{% block content %}
<div id="wrapper">

    <header>
        <h2>Open-Source-Games</h2>
    </header>

    {% include 'accounts/navbar.html' %}
    <div class="row">

        <!--sutvarkyti kad tekstas butu arciau lauku , tipo po desine puse ju-->
        <div class="games_wrapper">
            <div id="games-header">

                <div class="rusiavimas">
                    <select id="filter" name="country">
                        <option value="" selected disabled hidden>Rūšiavimas</option>
                        <option value="popular">Populiariausi</option>
                        <option value="new">Naujausi</option>
                        <option value="rating">Geriausiai įvertinti</option>
                    </select>
                </div>
                <div class="pavadinimas">
                    <h1>Visi žaidimai</h1>
                </div>
                {% if request.user.is_authenticated %}
                <div class="ikelimas" id="game-header-ikelimas">
                    <button type="button" value="Įkelti žaidimą">
                        <a style="color: black; text-decoration: none;" href="{% url 'uploadGame' %}">Įkelti
                            žaidimą!</a>
                    </button>
                </div>
                {% endif %}
            </div>
            {% for i in userGame%}
            <a href={% url 'gamesPage' i.id %}>
                <div class="games-content-item">




                    <img class="photo" src="{{i.image.url}}">
                    <div class="data">
                        <div style="color: yellow;" class="name">{{i.gameName}}</div>
                        <div class="info">
                            <p>{{i.gameDescription}}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor%}

            <div class="clear"></div>
        </div>

    </div>
    <div id="footer">
        <footer>
            <address>2021 &copy;Dominykas Pleteras</address>
        </footer>
    </div>
</div>
{% endblock %}