{% extends 'accounts/main.html' %}
{% block content %}
<div id="wrapper">

    <header>
        <h2>Open-Source-Games</h2>
    </header>

    {% include 'accounts/navbar.html' %}
    <div class="row">
        <div class="leftcolumn2">
            <div class="card">
                <div class="fill">
                    <img src="Images/reklama2.png" alt="Error loading">
                </div>


            </div>
        </div>
        <!--sutvarkyti kad tekstas butu arciau lauku , tipo po desine puse ju-->
        <div class="middlecolumn">
            <div class="card">

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token%}
                    
                    <div class="row">
                        <h2 style="text-align: center;">Naujienu kurimas</h2>
                        <div class="col-25">
                            <label for="ilgis">Antraste</label>
                        </div>
                        <div class="col-75">
                            {{form.headline}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="ilgis">Autorius</label>
                        </div>
                        <div class="col-75">
                            {{form.author}}
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-25">
                            <label for="ilgis">Tekstas</label>
                        </div>
                        <div class="col-75">
                            {{form.text}}
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-25">
                            <label for="ilgis">Nuotrauka</label>
                        </div>
                        <div class="col-75">
                            {{form.image}}
                        </div>
                    </div>

                    <div class="row">
                        <input type="submit" value="Įkelti">
                    </div>
                    <div style="visibility: hidden;" class="row">

                        <div class="col-25">
                            <label for="ilgis">Žaidimo kurejas</label>
                        </div>
                        <div class="col-75">
                            <label for="ilgis">{{form.gameOwnerUsername}}</label>
                            
                        </div>
                    </div>
                    

                    <br>
                    
                </form>





            </div>
        </div>
        <div class="rightcolumn2">

            <div class="card">
                <div class="fill">
                    <img src="Images/reklama3.png" alt="Error loading">
                </div>

            </div>
        </div>


    </div>
    <div id="footer">
        <footer>
            <address>2021 &copy;Dominykas Pleteras</address>
        </footer>
    </div>
</div>
{% endblock %}